<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Contoso</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Human_JS/humane_js_themes/bigbox.css" rel="stylesheet" />
</head>
<style>
                @@font-face {
    font-family: myFont;
    src: url(/fonts/Shabnam.ttf);
}
                body {
    font-family:myFont;
    direction:rtl;
}
    </style>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" style="float:right;">
                <ul class="nav navbar-nav">
                    <li><a href="/Categories">دسته بندی ها</a></li>
                    <li><a href="/Customers">مشتری ها</a></li>
                    <li><a href="/Emploees">کارمندان</a></li>
                    <li><a href="/OrderDetails">جزئیات سفارش</a></li>
                    <li><a href="/Orders">سفارشات</a></li>
                    <li><a href="/Products/ProductList">محصولات</a></li>
                    <li><a href="/Roles">نقش ها</a></li>
                    <li><a href="/Account/SignOut">خروج</a></li>


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Contoso</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
